<div class="container mt-4">
    <div class="row">
      <div class="col-sm-4">
          <h1>Seu Perfil</h1>
      </div>   
      <div *ngIf="editForm.dirty" class="col-sm-8">
        <div class="alert alert-info">
          <p><strong>Informaçãoo:</strong> Você tem feito mudanças, qualquer mudança não salva será perdida</p>
        </div>
      </div>   
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img src="{{photoUrl || '../../assets/user.png'}}" alt="{{user?.conhecidoComo}}" class="card-img-top img-thumbnail">
          <div class="card-body">
            <div>
                <strong>Location:</strong>
                <p>{{user?.cidade}}, {{user?.pais}}</p>
            </div>
            <div>
                <strong>Idade:</strong>
                <p>{{user?.idade}}</p>
            </div>
            <div>
                <strong>Ultima atividade:</strong>
                <p>{{user.ultimaAtividade | timeAgo}}</p>
            </div> 
            <div>
                <strong>Membro desde:</strong>
                <p>{{user?.criado | date: 'mediumDate'}}</p>
            </div>
          </div>
          <div class="card-footer d-flex"> 
            <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block">Editar</button>
          </div>
        </div>  
      </div>
      <div class="col-sm-8">
        <div class="tab-panel">
          <tabset class="member-tabset">
            <tab heading="Editar Perfil">
            <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
              <h4>Introdução</h4>
            <textarea class="form-control" name="introducao" 
            rows="6" [(ngModel)]="user.introducao"></textarea>

            <h4>Procurando Por:</h4>
            <textarea class="form-control" name="procurandoPor" 
            rows="6" [(ngModel)]="user.procurandoPor"></textarea>

            <h4>Interesses:</h4>
            <textarea class="form-control" name="interesses" 
            rows="6" [(ngModel)]="user.interesses"></textarea>
            <div class="form-inline">
              <label for="cidade">Cidade</label>
              <input type="text" class="form-control" [(ngModel)]="user.cidade" name="cidade">
              <label for="pais">Pais</label>
              <input type="text" class="form-control" name="pais" [(ngModel)]="user.pais">
            </div>
            </form>
            </tab>
            <tab heading="Editar Photos">
              
              <app-photoedit [photos]="user.photos" 
              (getMemberPhotochange)="updateMainPhoto($event)"></app-photoedit>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>