<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center">
    <h1>Encontre um par</h1>
    <p class="lead" >Vamos ver seus pares... Tudo que você precisa fazer e entrar!</p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-3" (click)="registerToggle()">Registrar</button>
      <button class="btn btn-info btn-lg">Saiba mais</button>
    </div>
  </div>  
</div>

<div *ngIf="registerMode" class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <app-registro (cancelRegister)="cancelRegisterMode($event)"></app-registro>
    </div>
  </div>
</div>

